html,
body {
  font-family: Arial, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin: auto;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
}

select {
  width: 25%;
  padding: 10px;
  margin: auto;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  border: 1px solid #ddd;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #fff;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  font-size: 16px;
  color: #888;
}
